@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  color: grey;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20%;
  
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #47694c;
}
.nav-link_l{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
  margin-right: 2px;
}
.nav-link_s{
  font-size: 1.6rem;
  font-weight: 100;
  color: #f5f8fd;
  padding: 8px 12px 8px 12px;
  background-color: rgb(15,113,115);
}
.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: rgb(15, 113, 115);
  margin-left: 10%;
}

.dark_container{
  align-items: center;

}
.bg_img{
  align-self:center;
  height: 5%;
  overflow: hidden;
 
  width: 100%;
  height: 50%;

  border-bottom-right-radius: 50% 20%;
  border-bottom-left-radius: 50% 20%;
  

 
}
.top-txt{
 
  font-size: 20px;
  font-family:'Nunito Sasn',sans-serif;
  color: white;
  
  position:absolute;
  margin-top: 20px;
  text-align: center; 
  width: 100%;

}
.container1{
  background: rgba(0, 0, 0, .7);
  bottom: 0;
  left: 0;
  position:relative;
  right: 0;
  top: 0;
  z-index: -99;
  box-sizing: border-box;
  display: block;
  color: white;
  opacity: 1;
  margin: 10px;
}
.text-block {
  font-size: 20px;
  font-family: 'Nunito Sans',sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  position:absolute;
  margin-top: 10%;
  font-size: 8rem;
  text-align: center; 
  width: 100%;
}
.para{
  font-size: 2rem;
  margin: 20px;
  line-height: 1.5;
}
.btn1{
 padding: 1.5%;
 width: 25%;
 background-color: #1c2540;
 color: white;
}
.btn1:hover{
  background-color: #0a0e18;
}
.btn2{
  padding: 1.5%;
  width: 25%;
  color:  black;
 }
.btn1,.btn2:hover{
  cursor: pointer;
}
.container2{
  text-align: left;
  padding: 3%;
  border-radius:    200px;
  font-weight: 0;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  
}
.det{

    font-size: 5rem;  
}
.img{
  padding-top: 60px;
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 20px;
  align-items: center;
  
}
.i1{
  width: 542px;
  height:360px;
  padding: 10px;
  border-radius: 30px;
  z-index: -1;
  position: relative;
}


.txt_blk{
  font-size: 15px;
  position: absolute;
  text-align: center;
  /* background-color: white; */
  /* background-color: red; */
  background-color: rgb(255, 255, 255);
  z-index: -1;
  bottom: -70px;
  margin-left: 50px;
  width: 450px;
  padding: 10px;
  border: 1px solid rgb(238, 230, 230);
}
.simg{
  position: relative;
  margin-bottom: 200px;
  margin-left: 30px;
  /* background-color: #47694c; */
}
.content{
  display: flex;
  flex-direction: column;
}
.img_headig{
  margin-top: 10px;
}
.simg p{
  margin-top: 20px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.simg .txt_blk .btnn{
  padding: 10px;
  background-color: white;
  color: rgb(55, 53, 53);
  border: 1px solid black;
  position: relative;
  text-align: center;
  margin-top: 30px;
  cursor: grab;
}
.btnn:hover{
  cursor: pointer;
  background-color: #1c2540;
  color: white;
}
.container3{
  background-color: #0F7173;
  display: flex;
  flex-direction: column;
  padding: 96px 0px;
  height: min-content;
  
}
.gHeading{
  color: white;
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
}
.parag{
  font-size: 1.9rem;
  color: white;
  text-align: center;
  word-spacing: 2px;
}
.blocks{
  
 
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 20px;
  margin-top: 0px;
  /* margin-right: 20px; */
  padding: 40px;
  
}
.bl1txt{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}
.block1{
  display: flex;
  width: 95%;
  height: 190px;
  padding: 35px;
  /* border: #0F7173 8px solid; */
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.bl1img{  
  width: min-content;
  scale: 0.7;
}
.bl1txtheading{
  font-size: 1.7rem;
  font-weight: bolder;
}
.bl1txtpara{
  padding-top: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
}
.container4{
  padding: 100px;
}
.c3txt{
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}
.c3img{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.c3img img{
  max-width: 10%;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin: 10px;
  mix-blend-mode: color-burn;  
}

.container5{
  padding-top:200px ;
  padding-bottom: 200px;
  justify-content: center;
  
}
.c5heading{
  color: #101010;
  text-align: center;
  font-size: 4rem;
  word-spacing: 3px;
  margin-bottom: 24px;
}
.c5para{
  text-align: center;
  

}
.c5para p{
  word-spacing: 2px;
  font-size: 2rem;
  
}
.c5blocks{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 100px;
  width: 100%;
  height: 40%;
  padding: 50px;

}
.blok{
  border:solid 1px rgb(239, 239, 239);
  z-index: -1;
  /* margin: 80px; */
  /* padding: 30px; */
  margin-left: 30px;
  border-radius: 15px;
  height: 110%;

}
.blokline{
  background-color: rgb(239, 239, 239);
  border: none;
  height: 1px;
}
.c5blokdes{
  padding: 30px;
  line-height: 2.5;
  font-size: 1.5rem;
  text-align: center;
}
.blokheading{
  text-align: center;
  font-size: 3rem;
  color: #0F7173;
  font-weight: bold;
  padding: 30px;
  padding-bottom: 15px;
}
.price{
  text-align: center;
  font-size: 7.3rem;
  font-weight: 800;
  line-height: 1;
  color: #1c2540;
  /* margin: 10px; */

}

.dollr{
  font-size: 2.5rem;
  padding-bottom: 20px;
  justify-content:  top;
  font-weight: 100;
}
.pricemonth{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.c5btn{
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #0F7173;
  font-size: 1.6rem;
}
.c5btncontact{
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #1c2540;
  font-size: 1.6rem;

}
.blokline{
  margin-top: 30px;
}
.c5blokdescon{
  padding: 30px;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;

}
.footer{
  background-color: #1c2540;
}
.fnavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  color: grey;
}
.fnav-logo{
  font-size: 2.1rem;
  font-weight: 900;
  color: rgb(15, 113, 115);
  margin-left: 10%;
}
.fnav-item{
  margin-left: 3rem;
  color: white;
}
.about{
  
  justify-content: end;
}
.fnav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50%;
}
.div{
  margin-right: 150px;
}
.fnav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffffb3;
}
.c6txt{
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffffb3;
  text-align: center;
  padding: 25px
}
.container7{
  color: black;
  background-color: white;
  font-size: 1.6rem;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 1190px) {
  .bg_img {
    min-width: 100%;
  }
  .img{
    justify-content: center;
    grid-template-columns: auto;
  }
  .c5blocks{
    justify-content: center;
  }
  .blocks{
    grid-template-columns: auto;
  }
  .nav-menu{
    display: none;
  }
  .hamburger{
    display: block;
  }
}
@media only screen and (max-width: 1000px){
  .top-txt{
    font-size: 1.5rem;
  }
  .text-block h4{
    font-size: 5rem;
  }
}
@media only screen and (max-width: 800px){
  .para{
    font-size: 2rem;
  }
  .btn{
    margin-top: -50px;
  }
}
@media only screen and (max-width: 700px){
  .para{
    font-size: 1.5rem;

  }
  .c5blocks{
    grid-template-columns: auto;
  }
  .text-block h4{
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 600px){
  .text-block h4{
    font-size: 4rem;
  }
  .btn{
    margin-top: -70px;
  }
}
@media only screen and (max-width: 580px){
  .top-txt{
    font-size: 1rem;
  }
  .text-block h4{
    font-size: 3rem;
  }
  .para{
    font-size: 1rem;
    margin-top: 2px;
  }
  .btn{
    margin-top: -80px;
    
  }
  .btn1{
    padding: 2px;
  }
  .btn2{
    padding: 2px;
  }
  .bl1txtheading{
    font-size: 1.5rem;
  }
  .bl1txtpara{
    font-size: 1.2rem;
  }
  .container2{
    justify-content: center;
    margin-left: -15px;
  }
  .simg img{
    width: 380px;
    
  }
  .txt_blk{
    width: 350px;
    margin-left: 14px;
  }
  .container2 h1{
    font-size: 2rem;
  }
  .det{
    font-size: 3rem;
  }
}


